footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer>img{
  max-height: 50vh;
  max-width: 50vh;
  text-align: center;
}
footer>p{
  color: white;
}