@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* <!-- Debut du Header --> */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #d4423e;
    position: sticky;
    top: 0;
}
nav .onglet{
    display: flex;
    flex-wrap: wrap;
}
nav .onglet a{
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;

}
nav h2{
    color: white;
    font-family: 'Dancing Script', cursive;
}
a:hover{
    background-color:#b32c28 ;
    display: block;
    
}
body{
    background-image: url(assets/images/background.jpg);
}
.main{
    background-color: white;
    width: 1200px;
    margin-left: 20%;
    margin-top: 50px ;
    box-shadow: 0 0 4px;
    border: 2px solid white;
    border-radius: 10px;
}
.h1{
    text-align: center;
    color:#d4423e;
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
h3{
    color:#d4423e ;
    font-family: 'Dancing Script', arial;
    font-size: 30px;
}
.P1{
    margin-top: 50px;
}
.P1 article{
    
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}
.P1 article ul{
    margin-left: 60px;
}
.cadeau h3{
    margin-top: 20px;
}
.container{
    display: flex;
}
figcaption{
    background-color:black ;
    padding: 20px;
    color: white;
    text-align: center;
    margin: 30px;
}
.livraison{
    margin-top: 20px;
    margin-bottom: 30px;
}
.map{
    margin-top: 30px;
    position: relative;
}
.adresse{
    display: flex;
}
.info{
    flex-flow: column;
    margin: 30px;
    margin-top: 50px;
}
h5{
    color: #d4423e;
    font-size: 25px;
    font-family: 'Dancing Script', arial;
}
address{
    font-size: 19px;
    margin-top: 30px;
}
.mail h5{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mail p{
    font-size: 19px;
}
.tbox{
    width: 300px;
    height: 40px;
    margin-top: 30px;
}
::placeholder{
    text-align: center;
}
button{
    margin-top: 10px;
    background-color:#d4423e ;
    color: white;
    width: 150px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
}
footer{
    background-color:#d4423e ;
    padding: 20px;
    margin-top: 50px;
    text-align: end;
}

@media screen and (max-width: 425px){
    .onglet{
        flex-direction: column;
    }
    a{
        padding: 10px;
    }
    .main{
        display: block;
        width: 90%;
        margin-left: 15px;
    }
    .P1{
        margin-bottom: 40px;
    }
    .container{
        display: flex;
        flex-flow: row wrap;
        flex: 0 1 50%;
        
    }
    .gift{
        size:150px
    }
    .adresse{
        flex-direction: column;
    }
    iframe{
        width: 90%;
        margin-left: 15px;
        
    }

 
}   

    
